dnspython==1.15.0
ipykernel==5.5.3
ipython==7.22.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.0.0
jupyter-core==4.7.1
matplotlib==3.4.1
numpy==1.20.2
pandas==1.2.4
pillow==9.0.1
py==1.10.0
pyqtwebengine==5.12.1
pymongo==3.11.1
requests==2.25.1
spyder==4.2.5
spyder-kernels==2.0.1